<!--<div class="card" (click)="cardClicked()" [@cardFlip]="data.state">
    <div class="face back">
        <ng-content select="[back]"></ng-content>
    </div>
    <div class="face front">
        <ng-content select="[front]"></ng-content>
    </div>
</div> -->

<div class="card-single">
	<div class="card-content" (click)="toggleFlip()" [@flipState]="flip">
		<div class="front">
            <ng-content select="[front]"></ng-content>
		</div>
		<div class="back">
            <ng-content select="[back]"></ng-content>
		</div>
	</div>
</div>
