.form-group {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-group label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-group input:focus {
    outline: 0;
    border-color: #777;
}

.form-group.error input {
    border-color: #e74c3c;
}

.form-group.error label {
    color: #e74c3c;
}

.form-group small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
}