<div class="form-group" [ngClass]="{'error': form.controls[formControlName].invalid && (form.controls[formControlName].dirty || form.controls[formControlName].touched)}">
  <label for="{{formControlName}}">{{title}}</label>
  <input id="{{formControlName}}" 
         type="{{type}}"
         name="{{title}}" 
         class="form-control" 
         (change)="onChangeCallback(input.value)" 
         (blur)="onTouchedCallback()"
         [readonly]="readonly"
         #input>
  <!-- (keydown)="change(input.value)"  -->
  <ng-container *ngIf="form.controls[formControlName].invalid && (form.controls[formControlName].dirty || form.controls[formControlName].touched)">
    <ng-container *ngFor="let error of errors[formControlName]">
      <small *ngIf="form.controls[formControlName].errors![error.condition]">
             {{error.errorDescription}}
      </small>
    </ng-container>
  </ng-container >
</div>

<!-- form && form.controls[id] && form.controls[id].errors && form.controls[id].errors[error.condition] -->